.navbar-brand{
    padding-top:11px;
    
}

.wrapper{
    width:90%;
    margin: 0 auto;
    
}

#cust_search{
    
    margin-bottom:40px;
    
}

#create_btn{
    margin-top: 20px;
}

.navbar-brand>img {
    height:30px;
    width: auto;
    
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.form-control{
    
    box-shadow: none;
}

label{
    
    margin-top: 10px;
}

input[type=checkbox] {
    
    margin-top: 0px;
}

input[type=checkbox]:focus {
    
    box-shadow: none;
}

#extra_form{
    box-sizing: border-box;
    padding: 20px 30px;
    padding-top: 5px;
    background-color: #f4f4f4;
    width: 50%;
}

#extra_form1{
    box-sizing: border-box;
    padding: 20px 30px;
    padding-top: 5px; 
    background-color: #ffd2a0;
    width: 50%;
}

#menu_icon{
    
    text-align:center;
    transition: background-color 0.4s ease;
}

#menu_icon i{
    
    color: #a5a5a5;
    padding: 50px;
}

#menu_icon:hover{
    
    background-color: #e64a30;
    
}

#menu_icon:hover i{ 
    color:white;}
    
.footer{
    background-color: #e64a30;
    color:white;
    text-align:center;
    width: 100%;
    position: absolute;
  bottom: 0;
   height: 20px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}

a:hover{
    
    text-decoration: none;
}

.table{
    
    margin-bottom: 60px;
}

#create_btn{margin-bottom: 40px;}